# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VSCode
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

#prompts and instructionns
job_search_instruction.txt
job_search_prompt.txt